@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(179.14deg,
      rgba(32, 18, 63, 0) -7.14%,
      #000000 87.01%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

/* Vertical Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#09d3ac, #016652, #13131a);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#09d3ac, #13131a);
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(transparent, #13131a, #09d3ac);
}

/* Horizontal Scrollbar */
::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-horizontal::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-horizontal::-webkit-scrollbar-thumb {
  background: linear-gradient(#09d3ac, #016652, #13131a);
  border-radius: 6px;
}

::-webkit-scrollbar-horizontal::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#09d3ac, #13131a);
}

::-webkit-scrollbar-horizontal::-webkit-scrollbar-thumb:active {
  background: linear-gradient(transparent, #13131a, #09d3ac);
}